<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta charset="utf-8"/>
    <script type="text/javascript" src="../js/angular.js"></script>
</head>
<body ng-app="myapp">


	<p>内置的 filter 和 orderBy</p>
	<div>
		<input type="text" ng-model="test">
		<div ng-controller='nController'>
			<ul ng-repeat="n in names | filter:test | orderBy:'country'">
				<li>{{n.name + ',' +n.country}}</li>
			</ul>
		</div>
	</div>
	<p>
		自定义reverse

		<div ng-controller="nController2">
		<input type="text" ng-model="title"/><br/>
			{{title|reverse|uppercase}}
		</div>
	</p>


	<script type="text/javascript">
		
		var app = angular.module('myapp', []);
		app.controller('nController', function($scope) {
		    $scope.names = [
		        {name:'Jani',country:'Norway'},
		        {name:'Hege',country:'Sweden'},
		        {name:'Kai',country:'Denmark'}
		    ];
		});
		app.controller('nController2', function($scope) {
		    $scope.title = "ABCD-1234";
		        
		});

		app.filter("reverse",function(){
			return function(input){
				return input.split("").reverse().join("");				
			}
		})

	</script>
</body>
</html>
